* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* hanalei-fill-regular - latin */
@font-face {
  font-family: "Hanalei Fill";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hanalei-fill-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Hanalei Fill"), local("HanaleiFill-Regular"),
    url("../fonts/hanalei-fill-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/hanalei-fill-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/hanalei-fill-v7-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/hanalei-fill-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/hanalei-fill-v7-latin-regular.svg#HanaleiFill")
      format("svg"); /* Legacy iOS */
}
body {
  background: orange;
}
header {
  background: #333;
  color: #ddd;
  width: 90%;
  margin: 20px auto;
  padding: 15px;
}
header h1 {
  text-align: center;
  font-family: "Hanalei Fill";
  font-size: 2.9rem;
}
table {
  width: 100%;
  max-width: 770px;
  display: block;
  margin: 10px auto;
  border: 2px black solid;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px black solid;
  padding: 2px;
}
table tr:nth-child(even) {
  background-color: #ddd;
  opacity: 0.8;
}
footer {
  background: #333;
  color: white;
  width: 90%;
  margin: 20px auto;
  padding: 15px;
}
footer p {
  text-align: center;
}
